{% extends "base/app.html" %}
{% block contents %}
<div class="center-block container col-8 offset-2">
    <main>
    <h2>写真登録</h2>
    <form id="postsnewform" action="{% url 'posts:new' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
           <label for="author">ユーザー</label>
            {{ form.author}}
        </div>
        <div class="form-group">
              <label for="salon">サロン</label>
            {{ form.salon}}
            {% if form.salon.errors %}
            </div>
            <div class="alert alert-danger">
                {{ form.salon.errors }}
            </div>
            {% endif %}
        </div>
        <div class="form-group">
              <label for="adviser">美容師</label>
            {{ form.adviser}}
        </div>
        <div class="form-group">
            <div class="selectpict">
            {{ form.picture}}
            {% if form.picture.errors %}
            </div>
            <div class="alert alert-danger">
            {{ form.picture.errors }}
            </div>
            {% endif %}
            <div class="selectpict">
            {{ form.picture2}}
            {% if form.picture2.errors %}
            </div>
            <div class="alert alert-danger">
                {{ form.picture2.errors }}
            </div>
            {% endif %}
            <div class="selectpict">
            {{ form.picture3}}
            {% if form.picture3.errors %}
            </div>
            <div class="alert alert-danger">
                {{ form.picture3.errors }}
            </div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="text">メッセージ</label>
      {{ form.text }}
            {% if form.text.errors %}
            <div class="alert alert-danger">
                {{ form.text.errors }}
            </div>
            {% endif %}
        </div>
        <div class="form-group">
              <label for="text">日付</label>
            {{ form.created_at}}
        </div>
<!--        <div class="form-group">-->
<!--            <input type="submit" value="投稿" fileclass="btn btn-primary form-control">-->
<!--        </div>-->
      <div class="btn-group">
            <span class="mgr-10"><input type="submit" value="投稿" class="btn btn-pink w-300px form-control"></span>
            <input type="button" value="戻る" onClick="javascript:history.go(-1);" class="btn btn-pink mr-10 w-300px form-control">
        </div>
        <div> {{form.media }} </div>
    </form>
</main>
</div>
{% endblock contents %}
{% block extrajs %}
   <script>
      const salonElement = $('#id_salon');
        const adviserElement = $('#id_adviser');

        const changeAdviser = (select) => {
            // 子カテゴリの選択欄を空にする。
            adviserElement.children().remove();

            $.ajax({
                url: '{% url 'posts:ajax_get_adviser' %}',
                type: 'GET',
                data: {
                    'pk': salonElement.val(),
                }
            }).done(response => {
                // 子カテゴリの選択肢を作成・追加。
                for (const adviser of response.adviserList) {
                    const option = $('<option>');
                    option.val(adviser['pk']);
                    option.text(adviser['name']);
                    adviserElement.append(option);
                }

                // 指定があれば、そのカテゴリを選択する
                if (select !== undefined) {
                    adviserElement.val(select);
                }

            });
        };

        salonElement.on('change', () => {
            changeAdviser();
        });

        // 入力値に問題があって再表示された場合、ページ表示時点で小カテゴリが絞り込まれるようにする
        if (salonElement.val()) {
            const selectedAdviser = adviserElement.val();
            changeAdviser(selectedAdviser);
        }
    </script>
{% endblock %}
