{% extends "base/app.html" %}
{% load custom_filter %}
{% block contents %}
<div class="container">
    <main>
    <h2>写真詳細</h2>
        <div class="card" style="width: 700px;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a href="{% url 'accounts:userDetail' post.author%}" class="text-dark">
                        <img src="{{ post.author.icon.url }}" class="timeline-icon" style="width:30px">
                            {{post.author.username }}
                        </a>
                        <p class="text-right"><a href="{% url 'posts:postupdate' post.id %}"> 変更画面へ</a></p>
                    </li>
                </ul>
                <img src="{{post.picture.url}}" class="card-img img-style w-500px"  />
                <div class="card-body">

                    <div class="card-hedder">

                        <span class="pull- post.text }}</div>
                    </div>
                    <div class="txt-left">
                        <small>
                            投稿時間{{ post.created_at|date:'Y-m-d H:i' }}
                        </small>
                    </div>

                </div>

          </div>
        <div class="form-group">
        </div>
    </main>
    </div>
{% endblock contents %}