{% extends "base/app.html" %}
{% block contents %}
<div class="center-block container col-8 offset-2">
    <main>
    <h2>写真修正</h2>
    <form id="postsnewform" action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
           <label for="text">ユーザー</label>
            {{ form.author}}
        </div>
        <div class="form-group">
              <label for="text">サロン</label>
            {{ form.salon}}
            {% if form.salon.errors %}
            </div>
            <div class="alert alert-danger">
                {{ form.salon.errors }}
            </div>
            {% endif %}
        </div>
        <div class="form-group">
              <label for="text">美容師</label>
            {{ form.adviser}}
        </div>
        <div class="form-group">
            <div class="selectpict">
            {{ form.picture}}
            {% if form.picture.errors %}
            </div>
            <div class="alert alert-danger">
            {{ form.picture.errors }}
            </div>
            {% endif %}
            <div class="selectpict">
            {{ form.picture2}}
            {% if form.picture2.errors %}
            </div>
            <div class="alert alert-danger">
                {{ form.picture2.errors }}
            </div>
            {% endif %}
            <div class="selectpict">
            {{ form.picture3}}
            {% if form.picture3.errors %}
            </div>
            <div class="alert alert-danger">
                {{ form.picture3.errors }}
            </div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="text">メッセージ</label>
            <textarea class="form-control" name="text" cols="40" rows="10" id="id_text"></textarea>
            {% if form.text.errors %}
            <div class="alert alert-danger">
                {{ form.text.errors }}
            </div>
            {% endif %}
        </div>
        <div class="form-group">
              <label for="text">日付</label>
            {{ form.created_at}}
        </div>
        <div class="form-group">
            <input type="submit" value="送信" fileclass="btn btn-primary form-control">
        </div>
        <div> {{form.media }} </div>
    </form>
</main>
</div>
{% endblock contents %}