{% extends "base/app.html" %}
{% block contents %}
<div class="container">
    <div class=" card">
        <div class="card-header bg-primary  text-white">
            ログインフォーム
        </div>
        <div class="card-body">
            {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                {{ form.non_field_errors }}
            </div>
            {% endif %}
            <form action="{% url 'login' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                {{ field.errors }}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                    {{ field }}
                </div>
                {% endfor %}
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">ログイン</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}