<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TechpitGram</title>
    {% load static %}
    <!-- 必要なライブラリインポート -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns"
        crossorigin="anonymous">
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"-->
<!--        crossorigin="anonymous">-->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color:pink">
            <a class="navbar-brand" href="/">MEM-AB</a>
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav flex-row ml-md-auto">
                <!-- ここから追加 -->
                {% if user.id is None %}
                <!-- ログインしていなかったらこっち -->
                <li class="nav-item"><a class="nav-link" href="{% url 'accounts:signup' %}">サインアップ</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">ログイン</a></li>
                {% else %}
                <!-- ログインしていたらこっち -->
                <li class="nav-item"><a class="nav-link" href="{% url 'posts:new' %}">投稿</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'accounts:userDetail' user.username %}">プロフィール変更</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">ログアウト</a></li>
                {% endif %}
                 <!-- 追加ここまで -->
            </ul>
            </div>
        </nav>
    </header>
    <main>
        {% block contents %}{% endblock %}
    </main>
</body>

</html>