button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
}
.w-500px {
    width: 500px !important;
  }
.w-400px {
    width: 400px !important;
  }
.w-300px {
    width: 300px !important;
  }
.mgr-10{
    margin-right : 10px;
}
/* 通常のボタン色 */
.btn-pink,
.btn-pink.disabled, .btn-pink:disabled {
  color: #FFFFFF;
  background-color: #E07581;
  border-color: #E07581;
  width: 400px;
  height:80px;
  margin: 2px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

/* focusされた時の枠線の色 */
.btn-pink:focus, .btn-pink.focus,
.btn-pink:not(:disabled):not(.disabled):active:focus, .btn-pink:not(:disabled):not(.disabled).active:focus,
.show > .btn-pink.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

/* hover時（マウスカーソルを重ねた時）の色（通常より濃いor暗めの色を指定）*/
.btn-pink:hover {
  color: #fff;
  background-color: #B62636;
  border-color: #cf6f7a;
}

/* active時の色（hover時と同等かさらに濃いor暗めの色を指定） */
.btn-pink:not(:disabled):not(.disabled):active,
.btn-pink:not(:disabled):not(.disabled).active,
.show > .btn-pink.dropdown-toggle {
  color: #fff;
  background-color: #B62636;
  border-color: #B62636;
}
.img-style {
display: block;
margin-left: auto;
margin-right: auto;
width:400px;
}
/* フォーム入力 */
html,
body,
div,
p {
  margin: 0;  /* 余分なマージンを消去 */
  padding: 0; /* 余分なパディングを消去 */
}

html,
body,
div.background {
  height: 100%; /* min-heightに対応していないブラウザ用 */
  background-color:#FFC0CB;
}

div.background {
  min-height: 100%; /* 最小の高さ */
  width: 700px;
  background: #FFC0CB;
}

body > div.background {
  height: auto; /* 要素を超えた分の背景が伸びないブラウザ用 */
}

input#id_name {
    width:300px!important;
}
input#id_address1, input#id_address2, input#id_address3 {
    width:300px!important;
}
textarea#id_salon_url {
    height: 32px!important;
}
.pc-title{
    font-size:2rem!important;
    text-align: left;
    float: left;
}
.plus-link{
    font-size:1.5rem!important;
    text-align: right;
}
/*ピンクの💛*/
.pink_heart{color:#FF66CC;
            font-size:28px;}
.grey_heart{color:#666666;
            font-size:28px;}

button.like{
    font-size:32px;
    font-weight: bold;
    color:#FF66CC;
    padding: 1;
    appearance: none;
}
